
.words{
    font-size: 1.6rem;
}

.mardgd{
    margin-top: 20px;
    margin-bottom: 20px;
}



.orderinfott{
    width: 100%;
}

.textmil{
    padding: 5px;
}





.flexrowend{
    text-align: right;
    margin-top: 50px;
}
.eleshadow{
    box-shadow: 3px 10px 20px rgb(162, 157, 157);
}

.cartDesign{
 height: 100%; 
}
.input{
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 10px;
}




.onepart{
    border-bottom: 1px solid white;
}


